.bg-app {
  background-image: url("./assets/UI Images/BG.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.overlay {
  width: 100vh;
  height: 200vh;
  background: black;
  position: absolute;
  z-index: 100;
  top: 0;
  opacity: 50%;
}

.toast {
  z-index: 999;
}
.toast-align {
  left: calc(calc(calc(100vw - 20rem) / 2));
}
